@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

Are you sure you want to delete this Stylist?

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-light" />
}

@Html.ActionLink("Back to Stylists", "Index")